<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
  <title>Insomnia tips</title>
</head>
<body>
  <header class="hero" role="heading">
    <h1>Anonymous Proxy</h1>
    <h2>In hac habitasse platea dictumst.</h2>
  </header>
  <main>
    <partial src="_blog.html"></partial>
    <partial src="_grid-section.html"></partial>
    <partial src="_footer.html"></partial>
  </main>
</body>
</html>
