<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
  <title>Anonimous Proxy</title>
</head>
<body>
  <header class="header__container" id="#top"role="heading">
    <nav class="nav__menu-container">
       <button class="menu-button">
          <img src="../assets/images/ico-menu.svg" alt="menu-icon">
        </button>
    </nav>
    
    <div class="hero__image">
      
      <h1 class="main-title">Anonymous Proxy</h1>
      
      <h2 class="title__comment">In hac habitasse platea dictumst.</h2>
      <button class="scroll--down" type="button">
      <a href="#blog"><img src="../assets/images/ico-scroll-down.svg" alt="scroll-down"></a>
      </button>

    </div>
  </header>
  <main>
    <partial src="_blog.html"></partial>
    <partial src="_grid-section.html"></partial>
    <partial src="_footer.html"></partial>
  </main>
</body>
</html>
