.blog-article__link{
    width:76px;
    height: 45px;
    border: 2px solid $color_bright-orange;
    border-radius: 30px;
    background-color:$color_whiteSnow;
    a{
        text-decoration: none;
        color:$color_bright-orange;
        font-size:20px;
        font-family: $ff-text;
        font-weight: medium;

    }
}

.grid__button{
    width:184px;
    height: 45px;
    border: 2px solid $color_bright-orange;
    border-radius: 30px;
    background-color:$color_bright-orange;
    a{
        text-decoration: none;
        color:$color_whiteSnow;
        font-size:20px;
        font-family: $ff-text;
        font-weight: medium;
        text-align: center;

    }
}
.link-to-top{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid $color_whiteSnow;
    background-color: $color_whiteSnow;
    margin-top: -22.5px;
    box-shadow: 0 1px 2px $color_greyish-brown;
    a{
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
}
.scroll--down{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid $color_whiteSnow;
    background-color: $color_whiteSnow;
    margin-top: 45px;
    box-shadow: 0 1px 2px $color_greyish-brown;
    a{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        img{
            position:relative;
            top:3px;
        }
    }
}
.menu-button{
    background-color: $color_cerulean;
    height: 45px;
    width:45px;
    border: 1px solid $color_cerulean;
}