.grid__container{
    width:100%;
    overflow-x: hidden;
    background-color: $color_ice-blue;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);

    .grid__title{
        font-family:$ff-title;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin: 30px 0;
    }

    .grid__card{
        display:flex;
        flex-direction: column;
        align-items: center;
        color:$color_black;
        margin: 0 70px 45px;
        
        .grid__card--title{
            font-family:$ff-title;
            line-height: 30px; 
            font-size: 18px;
            font-weight:bold;           
        }
        .grid__card--text{
            font-family: $ff-text;
            text-align: center;
            font-size:18px;
            line-height: 30px;
        }
    }
    .grid__card--button{
        display:flex;
        flex-direction: column;
        align-items: center;
        color:$color_black;
        margin: 0 70px 45px;
    }    
}