@mixin resetList-styles() {
    list-style: none;    
    
}

@mixin footerLink-style(){
    font-family: $ff-text;
    font-size:16px;
    line-height: 30px;
    text-transform: uppercase;
    color:$color_whiteSnow;
    text-align: center;
}
