
// COLORS
$color_lightblue: #8ccbea;
$color_black: black;
$color_bright-orange:#f26002;
$color_cerulean:#0271bc;
$color_ice-blue: #eff9ff;
$color_whiteSnow:#fff;
$color_greyish-brown: #4a4a4a;
$color_plumberBlue: #304268;



//FONTS
$ff_title:'Roboto Slab', serif;
$ff-text: 'Roboto', sans-serif;
